*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

body{
    background-color: #7c0002;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
    z-index: 1;
}

/* Marca d’água */
main::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("images/penac.svg") repeat center;
    background-size: 155vmin;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1; 
}

a {
    text-decoration: none;   
    color: inherit;
}

.flex {
    display: flex;
}
.topo-site {
  width: 100%;
  background: #B21919;  
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h1 {
    font-family: 'Arizonia', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 1,2vw;
}

body {
  padding-top: 40px; 
}

header .logo-pequena img{
  width: 50px;
  height: auto;
}

.logo-e-titulo {
    display: flex;
    align-items: center;
    gap: 12px; 
}

/* Estilo do título */
.logo-e-titulo h1 {
    color: #fcb143;
}

/* Ajuste da logo */
.logo-e-titulo img {
    width: 50px;
    height: auto; 
}

/* Ícone de menu */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    transition: transform 0.2s;
}

.menu-icon:hover {
  transform: scale(1.1);
  color: #fcb143;
}

.botao-whatsapp-expand {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9990;
}

.botao-whatsapp-expand a {
    background: #25d366;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 17px;
    gap: 10px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: width 0.3s, padding 0.3s;
    width: 60px;               
    overflow: hidden;
    white-space: nowrap;
}

.botao-whatsapp-expand i {
    font-size: 30px;
    flex-shrink: 0;            
}

.botao-whatsapp-expand span {
    opacity: 0;
    transition: opacity 0.2s;
}

.botao-whatsapp-expand a:hover {
    width: 260px;              
    justify-content: flex-start;
    padding-left: 22px;
}

.botao-whatsapp-expand a:hover span {
    opacity: 1;
}

/* MENU DESLIZANTE */
.menu-drop {
    position: fixed;
    top: -500px; 
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 10px #0003;
    padding: 40px 0;
    transition: 0.4s ease;
    z-index: 9999;
}

.menu-drop.open {
    top: 70px; 
}

.menu-drop-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.menu-drop-content .col h3 {
    color: #fcb143;
    margin-bottom: 10px;
    font-size: 18px;
}

.menu-drop-content .col a {
    display: block;
    margin: 6px 0;
    color: #333;
    text-decoration: none;
}

.menu-drop-content .col a:hover {
    color: #B21919;
}

/* Ícone do menu */
.menu-icon {
    cursor: pointer;
    font-size: 30px;
}

.topo-fundo{
    background:url("images/cristo44.jpeg") no-repeat center top;
    background-size:cover;
    height:clamp(400px,64vmin,700px);
    min-height:410px;
    overflow:hidden;
}

.img-topo-site {
    height: 100vh;
    width: 100%;
    position: relative;
}

.img-topo-site h2{
    padding-top: 110px;
    font-size: 45px;
    color: white;
    z-index: 10;
    padding-inline: 95px;
    text-align: left;
    
}

.img-topo-site h3{
    font-size: 25px;
    color: white;
    z-index: 10;
    padding-inline: 95px;
    text-align: left;

}

.linha2 {
  width: 100vw;        
  max-width: 5000px;
  height: 21vmin;           
  background: #2a0e0e;
  border: none;
  position: relative;
  display: flex;                
  justify-content: center;      
  align-items: center;
  cursor: pointer;
  color: white;
  gap: 22px;
}

.linha2 a:hover {
  transform: scale(1.1);
  color: #fcb143;
}

/* Seções internas */
.secao-pagina {
    padding-top: 85px;
    padding-bottom: 110px;
    color: white;
    padding-left: 90px;
    padding-right: 90px;
}

.secao-pagina h2 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #fcb143;
    margin-top: 2vw;
}

.secao-pagina p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 900px;
}

/* Lista de serviços */
.lista-servicos {
    list-style: disc;
    padding: 0;
    margin-top: 20px;
}

.servicos-container{
    display: flex;
    gap: 30vw;
    align-items: flex-start;
}

.servicos-container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}

.titulo-sessao {
    display: flex;
    gap: 10vw;
    align-items: flex-start;
}

.lista-servicos li {
    font-size: 20px;
    margin-bottom: 12px;
}

/* Formulário */
.form-contato {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.form-contato button {
    background: #fcb143;
    color: #7c0002;
    padding: 14px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.contato {
    font-size: 3vmin;
    flex: 1;

}

#sublinhado{
    text-decoration: underline;
    font-size: 3vmin;
}

#sublinhado2{
    text-decoration: underline;
    font-size: 4svmin;
}

.form-contato button:hover {
    opacity: 0.9;
}

@media (max-width:768px){

.menu-drop{
    top:0;
    left:auto;
    right:0;
    width:70%;
    height:100vh;

    transform:translateX(100%); /* começa fora da tela (direita) */
    transition:transform 0.4s ease;
    padding-top:80px;
}

/* quando abre */
.menu-drop.open{
    transform:translateX(0);
}

/* conteúdo em coluna */
.menu-drop-content{
    flex-direction:column;
    gap:30px;
}

}

@media (max-width:768px){

.secao-pagina{
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 70px;
}

}

@media (max-width:768px){
    body::before{
        background-size:110vmin;
    }
}

@media (max-width:768px){
    .linha2{
        height: 31vmin;
    }
}

@media (max-width:768px){

.img-topo-site h2{
    font-size: 26px;
    padding-inline: 20px;
}

.img-topo-site h3{
    font-size: 16px;
    padding-inline: 20px;
}

.secao-pagina h2{
    font-size: 26px;
    padding-top: 6vw;
}

.secao-pagina p{
    font-size: 15px;
}

.lista-servicos li{
    font-size: 16px;
}

}

@media (max-width:768px){
    .topo-fundo{
        height:clamp(100px,20vmin,300px);
        
    }
}

@media (max-width:768px){
    #sublinhado{
        font-size: 5vmin;
    }
}

@media (max-width:768px){
    #sublinhado2{
        font-size: 6vmin;
    }
}

@media (max-width:768px){

.servicos-container{
    flex-direction: column;
}

}

@media (max-width:768px){

.servicos-container2{
    grid-template-columns: 1fr;
}

}
